<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmsMultiSendServiceSoap" />
              <binding name="FilterServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.txooo.com/Internal/V1/SmsMultiSendService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SmsMultiSendServiceSoap"
                contract="SmsMutiSendService.SmsMultiSendServiceSoap" name="SmsMultiSendServiceSoap" />
          <endpoint address="http://service.txooo.com/Internal/V1/FilterService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FilterServiceSoap"
                contract="FilterService.FilterServiceSoap" name="FilterServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>