<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <TxConfig type="Txooo.TxConfig">
    <!--当前应用程序信息-->
    <App name="测试应用程序" />
    <!--变量信息-->
    <Variable>
      <Add name="DefaultSkinPath" value="~/Skin/Default/Tx_Skin.config" />
    </Variable>
  </TxConfig>

  <!--数据库信息-->
  <Database type="Txooo.Data.DatabaseConfig" file="Tx_Data.config">
    <ConnString>
      <TxoooCRM2013 IfEncrypt="false">Server=192.168.1.6;Database=TxoooCRM2013;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooCRM2013>
      <TxoooFinance_2013 IfEncrypt="false">Server=10.10.10.29;Database=TxoooFinance_2013;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooFinance_2013>
      <TxoooBrands IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrands;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrands>
      <TxoooPassport IfEncrypt="false">Server=10.10.10.30;Database=TxoooPassport;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooPassport>
      <TxoooCloud IfEncrypt="false">Server=10.10.10.29;Database=TxoooCloud;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooCloud>
      <TxoooPassportOld IfEncrypt="false">Server=10.10.10.10;Database=TxoooPassport;UID=TxoooPassportWebUser;Password=TxoooPassportWeBUsErPswOrd;</TxoooPassportOld>
      <TxoooCMS IfEncrypt="true">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooCMS>
      <TxoooEnterprise IfEncrypt="false">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooEnterprise>
      <TxoooSaaS>44474B38476342686A33795A4D545270373061366E47786358497042504C442F2B583153555851566678454B58784D664B35666767545959692B466C5A716F573774497A3468552B3369714171626A4A75332B6266692F6B58436336493637584B35782F76324A4D58676C5A4E6C456C705955644A41434437757241784C6956553358335248355345452F494C4654393149335466513D3D</TxoooSaaS>
      <ClickStream IfEncrypt="false">Server=10.10.10.253;Database=ClickStream;UID=TxWebClickStreamLogUser;Password=TxWebClickStreamLogUser;</ClickStream>
      <TxoooUserLog IfEncrypt="false">Server=10.10.10.30;Database=TxoooUserLog;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooUserLog>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.29;Database=TxoooAgent;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
      <TxoooMobile IfEncrypt="false">Server=10.10.10.31;Database=TxoooMobile;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooMobile>
      <TxoooBrandShop IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrandShop;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrandShop>
      <TxoooNEx IfEncrypt="false">Server=10.10.10.29;Database=TxoooNEx;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooNEx>

    </ConnString>
  </Database>

  <TxSecurity checkurl="true" type="Txooo.Web.Security.TxSecurityConfig">
    <TxUserType>Txooo.Passport.RBAC.TxUser</TxUserType>
    <LoginUrl>/login.html</LoginUrl>
    <DefaultUrl>/Main.html</DefaultUrl>
    <!--Cookie相关信息-->
    <Cookie>
      <ValidateIP>False</ValidateIP>
      <Key>ZAQ!xsw2CDE#vfr4</Key>
      <Name>TxMyCookie</Name>
      <Timeout>120</Timeout>
      <Domain>txooo.com</Domain>
      <RequireSSL>False</RequireSSL>
      <SlidingExpiration>True</SlidingExpiration>
      <CookiePath>/</CookiePath>
      <CookieMode>UseDeviceProfile</CookieMode>
    </Cookie>
    <!--需要授权的目录-->
    <AuthorizationPath>
      <Add value="/" />
    </AuthorizationPath>
    <OpenPath>
      <!--页面开放-->
      <Add value="/index.htm" />     
    </OpenPath>

    <SecurityIP>
      <!--内网-->
      <Add ip="127.0.0.1" mask="255.255.255.0" />
      <Add ip="192.168.1.0" mask="255.255.255.0" />
      <Add ip="10.10.10.0" mask="255.255.255.0" />
      <!--IDC-->
      <Add ip="211.151.68.80" mask="255.255.255.240" />
      <Add ip="58.83.148.0" mask="255.255.255.192" />
      <!--办公-->
      <Add ip="221.123.167.30" mask="255.255.255.240" />
      <!--武汉-->
      <Add ip="27.17.38.14" mask="255.255.255.255" />
    </SecurityIP>

  </TxSecurity>


  <TxWeb type="Txooo.Web.TxWeb">
    <TxSite host="*" default="true" type="Txooo.Web.TxSite">
      <!--站点全局变量信息-->
      <Variables>
        <add key="SiteName" value="" />       
      </Variables>
      <!--默认皮肤配置-->
      <DefaultSkin type="Txooo.Web.TxSkin">
        <ImagePath>/Images/</ImagePath>
        <CssPath>/Css/</CssPath>
        <JsPath>/Js/</JsPath>
        <TemplatePath>/Skin/Default</TemplatePath>
      </DefaultSkin>
      <!--默认页面处理程序-->
      <DefaultPage type="Txooo.Web.Htmx.HtmxPage">
        <Output way="Cache" time="600" location="Server" custom="host" header="" param="" />
        <Handler type="Txooo.Web.Htmx.HtmxHandler" />
        <Parsers>
          <add type="Txooo.Web.Parse.TemplateParser" />
          <add type="Txooo.Web.Parse.VariableParser" />
        </Parsers>
      </DefaultPage>
    </TxSite>
  </TxWeb>

  <log4net path="../_sitelog/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>

    <!--日志记录对象-->
    <logger name="Txooo.TxConfig">
      <level value="ALL" />
      <appender-ref ref="Txooo.TxConfig.Appender" />
    </logger>

  </log4net>

</configuration>